.target-remove {
    color: #da5252;
    text-decoration: none !important;
}
.target-remove:hover {
    color: #8f3b3b;
}
.target-edit {
    color: #5b8fda;
    text-decoration: none !important;
}
.target-edit:hover {
    color: #3e6195;
}
